

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-top: 60px;
    background-color: white;
    border-bottom: 8px solid #6E615A;
}

/* Logo and title section */
.header .logo-section {
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    margin-right: 15px;
}

.header .title-section {
    display: flex;
    flex-direction: column;
}

.header .title-section h1 {
    margin: 0;
    font-size: 20px;
    font-weight: heavy;
}

.header .title-section h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

/* Navigation */
.header nav {
    display: flex;
    gap: 15px;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 5px;
    padding: 10px;
}

.header nav a:hover {
    background-color: #DBD7D6;
}
/* Header styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Main body styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #faf4f2;
}

.headline h1 {
    font-weight: bold;
    size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.breadcrums {
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.breadcrums nav a{
    color:#333;
    size: 13px;
    text-decoration: none;
}
.breadcrums nav a:hover{
    text-decoration: underline;
    color: black;
}

.menuButton{
    margin-top: 10px;
    padding: 10px;
    width:30%;
    border-radius: 50px;
    background-color: #6E615A;
    color: #fff;
    border:none;
    cursor: pointer;
}
.menuButton:hover{
    background-color: #ef8271;
}

.card {
    height: fit-content;
    width:30%;
    background-color: #fff;
    padding:15px;
    margin: 0 0px; /* Horizontal margin for spacing between cards */
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}

.horizontal{
    display: flex;
    justify-content: space-between; /* Ensures even spacing between the cards */
    align-items: flex-start; /* Aligns cards at the top */
    width: 100%;
    background-color: #faf4f2;
    flex-direction: row;
    margin-bottom: 70px;
}

@media (max-width: 800px) { /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .horizontal{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
        margin-bottom: 20px; /* Space between stacked cards */
    }
}

.textTrustModel{
    margin: 0 0px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ef8271;
}

/* Main content */
.content {
    flex: 30;
    padding: 20px;
}

/* Main body styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 20px;
}

footer {
    background-color: #d6d9d3;;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}