

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-top: 60px;
    background-color: white;
    border-bottom: 8px solid #6E615A;
}

/* Logo and title section */
.header .logo-section {
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    margin-right: 15px;
}

.header .title-section {
    display: flex;
    flex-direction: column;
}

.header .title-section h1 {
    margin: 0;
    font-size: 20px;
    font-weight: heavy;
}

.header .title-section h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

/* Navigation */
.header nav {
    display: flex;
    gap: 15px;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 5px;
    padding: 10px;
}

.header nav a:hover {
    background-color: #DBD7D6;
}
/* Header styles END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Main body styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #faf4f2;
}

.headline h1 {
    font-weight: bold;
    size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.breadcrums {
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.breadcrums nav a{
    color:#333;
    size: 13px;
    text-decoration: none;
}
.breadcrums nav a:hover{
    text-decoration: underline;
    color: black;
}

.menuButton{
    margin-top: 10px;
    padding: 10px;
    width:30%;
    border-radius: 50px;
    background-color: #6E615A;
    color: #fff;
    border:none;
    cursor: pointer;
}
.menuButton:hover{
    background-color: #ef8271;
}

.card {
    height: fit-content;
    width:30%;
    background-color: #fff;
    padding:15px;
    margin: 0 0px; /* Horizontal margin for spacing between cards */
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}

.horizontal{
    display: flex;
    justify-content: space-between; /* Ensures even spacing between the cards */
    align-items: flex-start; /* Aligns cards at the top */
    width: 100%;
    background-color: #faf4f2;
    flex-direction: row;
    margin-bottom: 70px;
}

@media (max-width: 800px) { /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .horizontal{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
        margin-bottom: 20px; /* Space between stacked cards */
    }
}

.textTrustModel{
    margin: 0 0px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ef8271;
}

/* Main content */
.content {
    flex: 30;
    padding: 20px;
}

/* Main body styles END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Search body style """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/*Left side*/
.searchList{
    padding: 15px;
}
.search-input{
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid #ddd;
}
#namelist{
    height: 300px;
    overflow-y:scroll;
}
#nameList li a{
    color: #000;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#nameList li a:hover{
    background-color: #ef8271;
}

/*Right side*/
.orgAIinfoList{
    padding: 15px;
    float:left;
    width: 70%;
}
#aiList{
    overflow-x: auto;
}
#aiList li a{
    padding: 5px;
    display: block;
    cursor: pointer;
    background-color: rgb(238, 224, 224);
}
#aiList li a:hover{
    background-color: #f1a99e;
}
.ai-info {
    margin-top: 5px;
    padding: 10px;
    background-color: #ffffff;
    border-left: 3px solid #ef8271;
}



/* Search body style END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Form body style """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 90%;
    padding: 7px;
    border: none;
    border: 1px, solid grey;
    border-radius: 20px;
}

input[type="submit"]{
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: mediumblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

form h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
/* Form body style END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 20px;
}

footer {
    background-color: #d6d9d3;;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}