/* FOST STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6E615A;
    font-family: "Ubuntu", sans-serif;
}

/* Header styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-top: 60px;
    background-color: white;
    border-bottom: 8px solid #6E615A;
}

/* Logo and title section */
.header .logo-section {
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
    margin-right: 15px;
}

.header .title-section {
    display: flex;
    flex-direction: column;
}

.header .title-section h1 {
    margin: 0;
    font-size: 20px;
    font-weight: heavy;
}

.header .title-section h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

/* Navigation */
.header nav {
    display: flex;
    gap: 15px;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 5px;
    padding: 10px;
}

.header nav a:hover {
    background-color: #DBD7D6;
}

/* Header styles END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Main body styles """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
body {
    line-height: 1.6;
    background-color: #faf4f2;
}

.headline h1 {
    font-weight: bold;
    size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.breadcrums {
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.breadcrums nav a {
    color: #333;
    size: 13px;
    text-decoration: none;
}

.breadcrums nav a:hover {
    text-decoration: underline;
    color: black;
}

.menuButton {
    margin-top: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    background-color: #6E615A;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.menuButton:hover {
    background-color: #ef8271;
}

.card {
    height: fit-content;
    width: 30%;
    background-color: #fff;
    padding: 15px;
    margin: 0 0px;
    /* Horizontal margin for spacing between cards */
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}

.horizontal {
    display: flex;
    justify-content: space-between;
    /* Ensures even spacing between the cards */
    align-items: flex-start;
    /* Aligns cards at the top */
    width: 100%;
    background-color: #faf4f2;
    flex-direction: row;
    margin-bottom: 70px;
}

@media (max-width: 800px) {

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .horizontal {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
        /* Space between stacked cards */
    }
}

.textTrustModel {
    margin-right: 30px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ef8271;
    font-size: 17px;
}
.chatgpt{
    margin-top: 10px;
    color:black;
    font-size: 14px;
    font-style: italic;
}

/* Main content */
.content {
    flex: 30;
    padding: 20px;
}

/* Main body styles END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/* Search body style """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

/*Left side*/
.searchList {
    padding: 15px;
    padding-left: 0px;
}

.search-input {
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid #ddd;
}

#namelist {
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
#namelist::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}
#namelist::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
    border-radius: 10px; /* Rounded edges for the track */
}
#namelist::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges for the thumb */
    border: 2px solid #f1f1f1; /* Adds space around the thumb */
}
#namelist::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

#nameList li a {
    color:#574C47;
    padding: 10px;
    display: block;
    cursor: pointer;
    font-size: 17px;
}

#nameList li a:hover {
    background-color: #f5d4cf;
}

/*Right side*/
.orgAIinfoList {
    padding: 15px;
    float: left;
    width: 70%;
}

#aiList {
    overflow-x: auto;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#aiList li a {
    padding: 15px;
    display: block;
    cursor: pointer;
    font-size: 17px;
    background-color: #FFE5CC;
}

#aiList li a:hover {
    background-color: #f5d4cf;
}

.ai-info {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-left: 3px solid #FFE5CC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Search body style END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/


/* Create style """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

#formNav {
    width: 20%;
    position: sticky;
    top: 100px;  
}

.scroller {
    width: 80%;
    row-gap: 2px;
}
.category {
    padding: 15px;
    color: #695F59;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}
#cat1{
    background-color: #F7E4E1;
    border: 5px solid #F7E4E1;
}
#cat2{
    background-color: #F4E0CE;
    border: 5px solid #F4E0CE;
}
#cat3{
    background-color: #FBF0D0;
    border: 5px solid #FBF0D0;
}
#cat4{
    background-color: #FFE5E5;
    border: 5px solid #FFE5E5;
}
#cat5{
    background-color: #FBD0D0;
    border: 5px solid #FBD0D0;
}

.categoryArea {
    padding: 10px;
    padding-left: 30px;
    padding-right: 50px;
    background: #FFFFFF;
    margin-bottom: 70px;
    margin-left: 10px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}
.categoryArea h1{
    font-size: 30px;
}
#cat1Area{
    border-left: 5px solid #F7E4E1;
    border-top: 5px solid #F7E4E1;
}
#cat2Area{
    border-left: 5px solid #F4E0CE;
    border-top: 5px solid #F4E0CE;
}
#cat3Area{
    border-left: 5px solid #FBF0D0;
    border-top: 5px solid #FBF0D0;
}
#cat4Area{
    border-left: 5px solid #FFE5E5;
    border-top: 5px solid #FFE5E5;
}
#cat5Area{
    border-left: 5px solid #FBD0D0;
    border-top: 5px solid #FBD0D0;
}

form{
    padding-left: 30px;
}
#submitFormButton{
    background-color: #7B8574;
    border: 3px solid #7B8574;
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#submitFormButton:hover{
    background-color: white;
    color: #7B8574;
    cursor: pointer;
}

.el {
    background-color: blue;
    padding: 1em;
    height: 10em;
    width: 5em;
    margin: 5px;
}

/* different divs of inputs */
.divtxtInput, .radioQuestion, .dropdownQuestion, .multiQuestions {
    padding-bottom: 25px;
    color:#6E615A;
}

/*Bool*/
    .ynQ {
        padding-right: 20px;
        padding-left: 5px;
    }
    /* Hide the default radio button */
    input[type="radio"] {
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 2px solid #6E615A;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
    }
    input[type="radio"]:checked {
        border-color: #ef8271;
    }
    input[type="radio"]:checked::before {
        content: '';
        display: block;
        background-color: #ef8271;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/**/

/*Dropdown*/
    .dropdownQuestion select,
    .divtxtInput input{
        border-radius: 14px;
        border: 1px solid #6E615A;
        background-color: white;
        padding: 5px;
        color: #6e615a;
        font-size: 17px;
    }
    .dropdownQuestion select{
        box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
        border-color: white;
    }
/**/

/*Multi*/
    .button-like {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 25px;
        margin-bottom: 10px;
        border: 1px solid #6e615a7e;
        color: #6E615A;
        border-radius: 14px;
        background-color: white;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }
    .button-like:hover {
        background-color: #ffe5e1;
        color: #6E615A;
    }
    .button-like:active {
        background-color: white;
    }
    input[type="checkbox"]:checked+label.button-like {
        background-color: #6e615a;
        color: white;
        border-color: #6E615A;
    }
/**/

/* Create style END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/



/* Reuslt style """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
#option_buttons {
    position: absolute;
    bottom: 40px; /* Fixes the button 20px from the bottom of the #left_result */
}
#option_buttons button{
    margin-left: 20px;
}
#left_result {
    position: relative;
    background-color: white;
    width: 80%;
    padding: 55px;
    row-gap: 2px;
    flex: 1;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(151, 151, 151);
}
.nrAnsweredQ, #explanationText{
    font-size: 17px;
    font-weight: lighter;
}
#horizontal_result{
    display: flex;
    align-items: stretch;
}

/* Result style END""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/


/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 20px;
}

